---
---
@charset "utf-8";
// Your custom css /scss here

// Pre doesn't wrap anymore
pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


// Modify default beahaviour of LUX skin. Buttons are not in uppercase anymore
.btn {
    text-transform: none;
}

.profile-img {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 15px;
    display: block;
    border-radius: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    box-shadow: inset 0 0 15px #636161;
}

@font-face {
  font-family: 'Voltaire';
  src: url(https://fonts.gstatic.com/s/voltaire/v10/1Pttg8PcRfSblAvGvTovaqRFB_ie.woff2) format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
