---
---
@charset "utf-8";
// Your custom css /scss here

// Pre doesn't wrap anymore
pre {
  word-wrap: normal;
  word-break: normal;
}

pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}


// Modify default beahaviour of LUX skin. Buttons are not in uppercase anymore
.btn {
    text-transform: none;
}

.profile-img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    box-shadow: inset 0 0 20px #636161;
}
